.name {
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:"HelveticaNeue-UltraLight";
}
h3 {
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:"HelveticaNeue-Bold";
}
p {
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:"HelveticaNeue-UltraLight";
}
.bg
{
  width: 100%;
  z-index: 0;
  opacity: 0.4;
}
