.name {
  color: #000;
  text-align: center;
  /*margin-left: auto;
  margin-right: auto;*/
  font-family:"HelveticaNeue-UltraLight";
  font-size: 100px;
  position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
}
h3 {
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:"HelveticaNeue-Bold";
  font-size: 22px;
}
p {
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:"HelveticaNeue-UltraLight";
  font-size:22px;
  display: inLine;
   padding: 15px;
}
#rectangle {
    background: #A3A1A3;
    height: 520px;
    width: 100%;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 100%;
}
body {
  margin: 0;
}
.bg {
  width: 100%;
  height: 50%;
  opacity: 0.3;
}
.wave { 
   position: relative; 
   width: 100%; 
   height: 50%;
   z-index:0;
}
.profile {
  z-index: 2;
  position: absolute;
  bottom: 35%;
 height: 350px;
  width: 350px;
  left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.interests {
position: absolute;
  bottom: 35%;
 height: 80px;
  left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 140%) 
}
.ageHead {
margin-left: 20%;
}
#topLine {
display: inLine;	
}
.webLink {
  position: absolute;
  top: 93%;
  color: #000;
  text-align: center;
  margin-left: 43.5%;
  font-family:"HelveticaNeue-UltraLight";
  text-decoration: none;
}
#box {
   position: absolute;
    top: 40%;
    width: 100%;
}
.link {
  height: 16px;
  position: absolute;
  top: 93.5%;
 margin-left: 42%;
}
.contact {
  text-align: center;
  font-family:"HelveticaNeue";
  font-size:17px;
  padding: 15px; 
  border: black 1px solid;
  width: 90px;
  position: absolute;
  top: 185%;
  margin-left: 45.5%;
}
.conLink {
  text-decoration: none;
}

