.name {
  color: #000;
  text-align: center;
  /*margin-left: auto;
  margin-right: auto;*/
  font-family:"HelveticaNeue-UltraLight";
  font-size: 100px;
  position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
}
h3 {
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:"HelveticaNeue-Bold";
  bottom: 80px;
  display: inline;
}
p {
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:"HelveticaNeue-UltraLight";
  bottom: 20px;
  display: inline;
}
#rectangle {
    background: #A3A1A3;
    /*min-height: 50%;*/
    height: 520px;
    width: 100%;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 100%;
}
body {
  margin: 0;
}
.bg {
  width: 100%;
  height: 50%;
  opacity: 0.3;
}
.wave { 
   position: relative; 
   width: 100%; 
   height: 50%;
   z-index:0;
}
.profile {
  z-index: 2;
  position: absolute;
  bottom: 35%;
 height: 350px;
  width: 350px;
  left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.ageHead {
  position: relative;
  left: -30%;
  top: 20px;
}
.age {
  position: relative;
  left: -30%;
  top: 20px;
}
.webLink {
  position: relative;
  top: 40px;
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:"HelveticaNeue-UltraLight";
}


